# 101 pandas exercises
https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [2]:
#1
# import pandas and check the version
import numpy as np
import pandas as pd

print(pd.__version__)
print(pd.show_versions(as_json=True))

1.0.5
{'system': {'commit': None, 'python': '3.8.8.final.0', 'python-bits': 64, 'OS': 'Darwin', 'OS-release': '20.5.0', 'machine': 'x86_64', 'processor': 'i386', 'byteorder': 'little', 'LC_ALL': 'None', 'LANG': 'en_US.UTF-8', 'LOCALE': 'en_US.UTF-8'}, 'dependencies': {'pandas': '1.0.5', 'numpy': '1.19.1', 'pytz': '2021.1', 'dateutil': '2.8.1', 'pip': '21.0.1', 'setuptools': '52.0.0.post20210125', 'Cython': '0.29.23', 'pytest': '5.4.3', 'hypothesis': None, 'sphinx': '4.0.1', 'blosc': None, 'feather': None, 'xlsxwriter': '1.3.8', 'lxml.etree': '4.6.3', 'html5lib': '1.1', 'pymysql': '1.0.2', 'psycopg2': None, 'jinja2': '2.11.3', 'IPython': '7.22.0', 'pandas_datareader': None, 'bs4': '4.9.3', 'bottleneck': '1.3.2', 'fastparquet': None, 'gcsfs': None, 'matplotlib': '3.3.4', 'numexpr': '2.7.3', 'odfpy': None, 'openpyxl': '3.0.7', 'pandas_gbq': None, 'pyarrow': None, 'pytables': None, 'pyxlsb': None, 's3fs': None, 'scipy': '1.5.4', 'sqlalchemy': '1.4.7', 'tables': '3.6.1', 'tabulate': '0.8.9', 'xarray': None, 'xlrd': '2.0.1', 'xlwt': '1.3.0', 'numba': '0.53.1'}}
None

In [3]:
#2
# Create a pandas series from each of the items below: a list, numpy and a dictionary
# input from question
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
# answer below
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [4]:
#3
# convert the index of a series into the column of a dataframe
# input from question
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
# answer below
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [5]:
#4
# combine many series to form a dataframe
# input from question
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
# answer below
# solution 1
# df = pd.concat([ser1, ser2], axis=1)
# solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [6]:
#5
# Give a name to the series ser calling it ‘alphabets’.
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [7]:
#6
# How to get the items of series A not present in series B?

# From ser1 remove items present in ser2.
serA = pd.Series([1, 2, 3, 4, 5])
serB = pd.Series([4, 5, 6, 7, 8])

serA[~serA.isin(serB)]

0    1
1    2
2    3
dtype: int64

In [8]:
#7
# How to get the items not common to both series A and series B?
serA = pd.Series([1, 2, 3, 4, 5])
serB = pd.Series([4, 5, 6, 7, 8])

serU = pd.Series(np.union1d(serA, serB))     # union
serI = pd.Series(np.intersect1d(serA, serB)) # intersection
serU[~serU.isin(serI)] #, serU, serI

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [9]:
#8
# How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

ser = pd.Series(np.random.normal(10, 5, 25))

np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 3.66468887,  7.13840143,  9.4918106 , 14.82249138, 22.84557607])

In [11]:
#9 
# How to get frequency counts of unique items of a series?
# 'take' gets a letter from list matching the randomly generated number
# i.e. 0 gets 'a' and 7 gets 'h'
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

e    8
b    5
g    5
a    3
h    3
d    2
c    2
f    2
dtype: int64

In [28]:
#10
# How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

0         4
1         4
2         1
3         4
4         1
5         1
6         1
7     Other
8         4
9         1
10    Other
11    Other
dtype: object

In [57]:
#11
# How to bin a numeric series to 10 groups of equal size?
ser = pd.Series(np.random.random(20))
#pd.qcut(ser, q=[0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1], labels=['1rst', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'])
pd.qcut(ser, q=[0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1])

0                      (0.22, 0.336]
1                     (0.336, 0.392]
2                     (0.697, 0.743]
3                      (0.392, 0.54]
4                      (0.54, 0.631]
5                     (0.631, 0.697]
6                     (0.336, 0.392]
7                     (0.743, 0.818]
8                      (0.392, 0.54]
9                      (0.54, 0.631]
10                    (0.631, 0.697]
11                    (0.818, 0.979]
12                     (0.129, 0.22]
13                    (0.697, 0.743]
14    (0.0004599999999999999, 0.129]
15                     (0.22, 0.336]
16    (0.0004599999999999999, 0.129]
17                    (0.818, 0.979]
18                     (0.129, 0.22]
19                    (0.743, 0.818]
dtype: category
Categories (10, interval[float64]): [(0.0004599999999999999, 0.129] < (0.129, 0.22] < (0.22, 0.336] < (0.336, 0.392] ... (0.631, 0.697] < (0.697, 0.743] < (0.743, 0.818] < (0.818, 0.979]]

In [59]:
#12
# How to convert a numpy array to a dataframe of given shape?
ser = pd.Series(np.random.randint(1, 10, 35))
# '.values' is there to transform series type to ndarray type
# you will get an error if you try to reshape a series, but you can reshape a ndarray
ser.values.reshape(7, 5)

array([[7, 5, 9, 9, 9],
       [5, 7, 8, 4, 5],
       [9, 8, 7, 7, 4],
       [9, 7, 7, 4, 7],
       [9, 8, 1, 4, 7],
       [4, 4, 8, 1, 8],
       [5, 1, 6, 1, 8]])

In [66]:
#13
# Stack ser1 and ser2 vertically and horizontally (to form a dataframe).
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

vertical = ser1.append(ser2)
horizontal = pd.concat([ser1, ser2], axis=1)

In [67]:
vertical

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [68]:
horizontal

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e