# 101 pandas exercises
https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [1]:
#1
# import pandas and check the version
import numpy as np
import pandas as pd

print(pd.__version__)
print(pd.show_versions(as_json=True))

1.0.5
{'system': {'commit': None, 'python': '3.8.8.final.0', 'python-bits': 64, 'OS': 'Darwin', 'OS-release': '20.5.0', 'machine': 'x86_64', 'processor': 'i386', 'byteorder': 'little', 'LC_ALL': 'None', 'LANG': 'en_US.UTF-8', 'LOCALE': 'en_US.UTF-8'}, 'dependencies': {'pandas': '1.0.5', 'numpy': '1.19.1', 'pytz': '2021.1', 'dateutil': '2.8.1', 'pip': '21.0.1', 'setuptools': '52.0.0.post20210125', 'Cython': '0.29.23', 'pytest': '5.4.3', 'hypothesis': None, 'sphinx': '4.0.1', 'blosc': None, 'feather': None, 'xlsxwriter': '1.3.8', 'lxml.etree': '4.6.3', 'html5lib': '1.1', 'pymysql': '1.0.2', 'psycopg2': None, 'jinja2': '2.11.3', 'IPython': '7.22.0', 'pandas_datareader': None, 'bs4': '4.9.3', 'bottleneck': '1.3.2', 'fastparquet': None, 'gcsfs': None, 'matplotlib': '3.3.4', 'numexpr': '2.7.3', 'odfpy': None, 'openpyxl': '3.0.7', 'pandas_gbq': None, 'pyarrow': None, 'pytables': None, 'pyxlsb': None, 's3fs': None, 'scipy': '1.5.4', 'sqlalchemy': '1.4.7', 'tables': '3.6.1', 'tabulate': '0.8.9', 'xarray': None, 'xlrd': '2.0.1', 'xlwt': '1.3.0', 'numba': '0.53.1'}}
None

In [2]:
#2
# Create a pandas series from each of the items below: a list, numpy and a dictionary
# input from question
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
# answer below
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [3]:
#3
# convert the index of a series into the column of a dataframe
# input from question
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
# answer below
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [4]:
#4
# combine many series to form a dataframe
# input from question
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
# answer below
# solution 1
# df = pd.concat([ser1, ser2], axis=1)
# solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [5]:
#5
# Give a name to the series ser calling it ‘alphabets’.
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [6]:
#6
# How to get the items of series A not present in series B?

# From ser1 remove items present in ser2.
serA = pd.Series([1, 2, 3, 4, 5])
serB = pd.Series([4, 5, 6, 7, 8])

serA[~serA.isin(serB)]

0    1
1    2
2    3
dtype: int64

In [7]:
#7
# How to get the items not common to both series A and series B?
serA = pd.Series([1, 2, 3, 4, 5])
serB = pd.Series([4, 5, 6, 7, 8])

serU = pd.Series(np.union1d(serA, serB))     # union
serI = pd.Series(np.intersect1d(serA, serB)) # intersection
serU[~serU.isin(serI)] #, serU, serI

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [8]:
#8
# How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

ser = pd.Series(np.random.normal(10, 5, 25))

np.percentile(ser, q=[0, 25, 50, 75, 100])

array([-2.13249056,  7.19480249, 11.41501582, 13.91327467, 20.5918104 ])

In [9]:
#9 
# How to get frequency counts of unique items of a series?
# 'take' gets a letter from list matching the randomly generated number
# i.e. 0 gets 'a' and 7 gets 'h'
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

h    8
f    6
b    5
a    4
d    3
g    2
e    1
c    1
dtype: int64

In [10]:
#10
# How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

0         3
1         3
2     Other
3         3
4         4
5         3
6         4
7         3
8         3
9     Other
10        3
11        4
dtype: object

In [11]:
#11
# How to bin a numeric series to 10 groups of equal size?
ser = pd.Series(np.random.random(20))
#pd.qcut(ser, q=[0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1], labels=['1rst', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'])
pd.qcut(ser, q=[0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1])

0     (0.603, 0.884]
1     (0.373, 0.466]
2     (0.603, 0.884]
3     (0.332, 0.373]
4      (0.29, 0.332]
5     (0.332, 0.373]
6     (0.168, 0.198]
7     (0.934, 0.982]
8     (0.884, 0.934]
9     (0.934, 0.982]
10    (0.518, 0.603]
11    (0.168, 0.198]
12     (0.29, 0.332]
13     (0.198, 0.29]
14    (0.466, 0.518]
15    (0.518, 0.603]
16    (0.884, 0.934]
17     (0.198, 0.29]
18    (0.373, 0.466]
19    (0.466, 0.518]
dtype: category
Categories (10, interval[float64]): [(0.168, 0.198] < (0.198, 0.29] < (0.29, 0.332] < (0.332, 0.373] ... (0.518, 0.603] < (0.603, 0.884] < (0.884, 0.934] < (0.934, 0.982]]

In [12]:
#12
# How to convert a numpy array to a dataframe of given shape?
ser = pd.Series(np.random.randint(1, 10, 35))
# '.values' is there to transform series type to ndarray type
# you will get an error if you try to reshape a series, but you can reshape a ndarray
ser.values.reshape(7, 5)

array([[9, 5, 6, 4, 3],
       [5, 7, 2, 9, 8],
       [7, 9, 8, 7, 6],
       [5, 4, 5, 2, 8],
       [6, 4, 9, 6, 5],
       [3, 3, 5, 4, 4],
       [8, 8, 1, 3, 3]])

In [13]:
#13
# Stack ser1 and ser2 vertically and horizontally (to form a dataframe).
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

vertical = ser1.append(ser2)
horizontal = pd.concat([ser1, ser2], axis=1)

In [14]:
vertical

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [68]:
horizontal

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [15]:
#14
# extract the items at positions in list pos
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [16]:
#15
# Stack ser1 and ser2 vertically and horizontally (to form a dataframe). Input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [17]:
#15 vertically
ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [18]:
#15 horizontally
pd.concat([ser1, ser2], axis=1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [27]:
#16
# Get the positions of items of ser2 in ser1 as a list.
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Alternate method
# [pd.Index(ser1).get_loc(i) for i in ser2]

[np.where(i == ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [30]:
#17
# Compute the mean squared error of truth and pred series. 
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

np.mean((truth - pred) ** 2)

0.3164583073062784

In [38]:
#18
# Change the first character of each word to upper case in each word of ser.
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# ALternate method
# pd.Series(i.title() for i in ser)

# pd.Series(i[0].upper() + i[1:] for i in ser)

ser.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [3]:
#19
# How to calculate the number of characters in each word in a series?
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.map(lambda x : len(x))

0    3
1    2
2    4
3    4
dtype: int64

In [9]:
#20
# How to compute difference of differences between consequtive numbers of a series?
# take the differences twice
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

ser.diff().diff()

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

In [11]:
#21
# How to convert a series of date-strings to a timeseries?
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [2]:
#22
# How to get the day of month, week number, day of year and day of week from a series of date strings?
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

import datetime
df = pd.DataFrame(ser)
df = df.rename(columns={0:'date'})
df.date = pd.to_datetime(df.date)
df['month'] = df.date.dt.month
df['year'] = df.date.dt.year
df['weekday'] = df.date.dt.weekday
#df['week_of_year'] = df.date.dt.isocalendar().week
df['week_of_year'] = df.date.dt.weekofyear

df

                 date  month  year  weekday  week_of_year
0 2010-01-01 00:00:00      1  2010        4            53
1 2011-02-02 00:00:00      2  2011        2             5
2 2012-03-03 00:00:00      3  2012        5             9
3 2013-04-04 00:00:00      4  2013        3            14
4 2014-05-05 00:00:00      5  2014        0            19
5 2015-06-06 12:20:00      6  2015        5            23

In [9]:
#23
# Change ser to dates that start with 4th of the respective months

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

ser.map(lambda x: '04 ' + x)

0    04 Jan 2010
1    04 Feb 2011
2    04 Mar 2012
dtype: object

In [18]:
#24
# From ser, extract words that contain atleast 2 vowels.

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

from collections import Counter

atleast2 = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >=2)
ser[atleast2]

0     Apple
1    Orange
4     Money
dtype: object

In [3]:
#25
# Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

import re
emails.str.findall(pattern, flags=re.IGNORECASE)

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object