In [1]:
fruit_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
fruit_series = pd.Series(fruit_list)

In [4]:
#1 number of elements in series
fruit_series.size

17

In [5]:
#2 output only the index from series
fruit_series.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [6]:
#3 output only the values from series
fruit_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [7]:
#4 determine the data type of series
fruit_series.dtype

dtype('O')

In [8]:
#5
print("first five values")
print(fruit_series.head(5))
print("last five values")
print(fruit_series.tail(5))
print("two random values")
print(fruit_series.sample(2))

first five values
0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object
last five values
12         mango
13     blueberry
14    blackberry
15    gooseberry
16        papaya
dtype: object
two random values
16        papaya
14    blackberry
dtype: object

In [9]:
#6 describe the series
fruit_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [10]:
#7 obtain the unique values from series
fruit_series.unique

<bound method Series.unique of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

In [11]:
#8 count the times that each value occurrs in series
fruit_series.value_counts()

kiwi                4
mango               2
pineapple           1
strawberry          1
papaya              1
watermelon          1
tomato              1
blueberry           1
honeydew            1
gala apple          1
gooseberry          1
blackberry          1
honeycrisp apple    1
dtype: int64

In [12]:
#9 determine most common value in series
#gives max but not name     fruit_series.value_counts().max()
#gives gala apple           fruit_series[fruit_series.value_counts().max()]

fruit_series.value_counts().idxmax()

'kiwi'

In [13]:
#10 determine least common value in series
fruit_series.value_counts().nsmallest(n=1, keep='all')

pineapple           1
strawberry          1
papaya              1
watermelon          1
tomato              1
blueberry           1
honeydew            1
gala apple          1
gooseberry          1
blackberry          1
honeycrisp apple    1
dtype: int64

In [14]:
#EXERCISES PART 2

In [15]:
#1 capitalize all letters in fruits
fruit_series.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

In [16]:
#2 count the letter 'a' in series

fruit_series.str.count('a').sum()

14

In [17]:
#3 count the vowels in each string value

fruit = fruit_series

#vowels = list('euioa')
#def count_vowels(fruit):
#    return len([let for let in fruit.lower() if let in vowels])

#fruit.apply(count_vowels)
fruit.str.count('[euioa]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [18]:
#4 get the longest string value from the series
max_length = fruit.str.len().max()
print(fruit.values[fruit.str.len() == max_length])

['honeycrisp apple']

In [19]:
#5 get strings with 5 or more letters
fruit_length = fruit.str.len()
print(fruit[fruit_length >= 5])

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [20]:
#6 find fruits containing 'o' two or more times

fruit[fruit.apply(lambda x: x.count('o') >= 2)]

6         tomato
15    gooseberry
dtype: object

In [21]:
#7 get strings containing 'berry'
fruit[fruit.apply(lambda x: 'berry' in x)]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [22]:
#8 get string containing 'apple'
fruit[fruit.apply(lambda x: 'apple' in x)]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [23]:
#9 which string contains the most vowels
vowel_count = fruit.str.count('[euioa]')
fruit[vowel_count.nlargest(n=1, keep='all')]

5    honeycrisp apple
dtype: object

In [24]:
#EXERCISES PART 3

In [28]:
#letters = pd.Series(['hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'])
letters = pd.Series(list('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'))

In [30]:
#1 which letter occurs most frequently
#letters.value_counts()
letters.value_counts().idxmax()

'y'

In [31]:
#2 which letter occurs least frequently
letters.value_counts().idxmin()

'l'

In [32]:
#3 how many vowels are in the list
vowels = list('euioa')
len(letters[letters.isin(vowels)])

34